name: VPS Auto Renew

on:
  schedule:
    - cron: '30 1 * * *' # 北京时间早上 9:30 左右运行
  workflow_dispatch:     # 允许手动点击 Run workflow 触发

jobs:
  run-renew:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install requests beautifulsoup4

    - name: Run Renew Script
      env:
        COOKIE: ${{ secrets.COOKIE }}
        USER_AGENT: ${{ secrets.USER_AGENT }}
        URL: ${{ secrets.URL }}
        TG_TOKEN: ${{ secrets.TG_TOKEN }}
        TG_USER_ID: ${{ secrets.TG_USER_ID }}
      run: python main.py
